/* Aplicamos estilos a <section class="container"> */

.container {
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    gap: 60px;
    background: #fff;
}

@media (max-width: 980px) {
    .container {
        padding: 138px 0px;
    }
}
