<!DOCTYPE html>
<html lang="en">

<head>
    <title>NesoApps</title>
    <link rel="icon" type="image/png" href="../images/rin_pixel_art.png">
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="stylesheet" href="../styles/container.css">
    <link rel="stylesheet" href="../styles/css-schedule-generator/container-register.css">
    <link rel="stylesheet" href="../styles/css-route-search-san-marcos/container-menu-map-section.css">
    <link rel="stylesheet" href="../styles/css-route-search-san-marcos/container-map-section.css">
    <link rel="stylesheet" href="../styles/css-route-search-san-marcos/container-menu-section.css">

    <script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

    <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css" rel="stylesheet" />

</head>

<body>
    <header>
        <div class="logo-nesoApp" href="../index.html">
            <h1>NesoApps</h1>
            <img src="https://res.cloudinary.com/dimcnbuqs/image/upload/v1695615863/HonokaPy_gkyaud.png"
                id="logo-honky-py" alt="logo-nesoApp">
        </div>
        <div class="name-app">
            <h2>RUTA MÍNIMA 🚀</h2>
        </div>
    </header>

    <section class="container">
        <!--<div class="container-step-text">Elija un origen y llegada para ver la menor ruta<span class="emoji">✨</span></div>-->
        <div class="container-menu-map-section">
            <div class="container-menu-section">
                <div class="container-button-hidden-show">
                    <img id="button-hidden-icon" src="static/images/button-hidden-icon.png" alt="button-hidden-icon">
                    <img id="button-show-icon" src="static/images/button-show-icon.png" alt="button-show-icon">
                </div>
                <div class="container-inputs-button-show">
                    <div class="container-inputs-icon">
                        <div class="container-inputs">
                            <select id="select-start-locate" class="select-start-locate" name="select-start-locate" required>
                                <option value="" disabled selected>Seleccione su origen</option>
                            </select>    
                            <select id="select-end-locate" class="select-end-locate" name="select-end-locate" required>
                                <option value="" disabled selected>Seleccione su destino</option>
                            </select>
                        </div>
                        <div class="arrows-icon">
                            <img id="arrows-icon" src="static/images/arrows-icon.png" alt="arrows-icon">
                        </div>
                    </div>
                    <input type="submit" class="button-search-route" value="Buscar ruta">
                </div>
                <div class="container-sections">
                    <div class="button-show-map">
                        <img src="static/images/map-icon.png" id="map-icon" alt="map-icon">
                    </div>
                    <div class="button-upload-json">
                        <img src="static/images/nodes-icon.png" id="nodes-icon" alt="nodes-icon">
                    </div>
                </div>
            </div>
            <div id="map" class="map-container"></div>
            <div id="vis-container" class="canvas-container" style="display: none;"></div>
        </div>
    </section>
    <script>
        var homeRoute = "{{ url_for('home') }}"
        var logoNesoApp = document.querySelector(".logo-nesoApp");
        logoNesoApp.addEventListener("click", function () {
            window.location.href = homeRoute;
        });
    </script>
    <script src="../scripts/js-route-search-san-marcos/api-map-box.js" type="module"></script>
    <script src="../scripts/js-route-search-san-marcos/main.js" type="module"></script>
</body>

</html>